<div id="headPane">
     <div id="fileListContainer">
     	  <div id="dude"></div><div id="fileListCrop"><select id="fileList"></select></div>
     </div>

     <button id="deleteFile">Delete</button>
     <button id="addFile">Add</button>

     <button id="btnExamples">Examples</button>

     <button id="fontInc">Text+</button>
     <button id="fontDec">Text-</button>

     <div id="logo">
     Blockly Editor v.0.1
     </div>

     <button id="download">Save .py</button>
     <button id="compile">Play</button>
</div>