<div id="examplesContainer">
     <div id="examplesWin">
     	  <h1>Load Example</h1>
	  <h2> Select an example to load.</h2>
	  <select id="exampleSelect"></select>
	  <button id="exampleCancel">Cancel</button>
	  <button id="exampleApply">OK</button>
     </div>
</div>