<div id="flagsContainer">
    <div class="center">

        <div style="border-bottom: solid 1px rgba(0,0,0,0.5);">
            <label>
                High Res:
                <select id="PROJ_HIRES" class="flag">
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </label>
        </div>
        
        <div style="border-bottom: solid 1px rgba(0,0,0,0.5);">
            <label>
                Maximum FPS:
                <input id="PROJ_FPS" class="flag" value="40" type="number" min="1" max="255" />
            </label>
        </div>

        <div style="border-bottom: solid 1px rgba(0,0,0,0.5);">
            <label>
                Print FPS:
                <select id="PROJ_SHOW_FPS_COUNTER" class="flag">
                    <option value="undefined">No</option>
                    <option value="1">Yes</option>
                </select>
            </label>
        </div>

        <div style="border-bottom: solid 1px rgba(0,0,0,0.5);">
            <label>
                Font:
                <select id="PROJ_FONT" class="flag">
                    <option value="font5x7">5x7</option>
                    <option value="fontMini">Mini</option>
                    <option value="fontDonut">Donut</option>
                    <option value="fontDragon">Dragon</option>
                    <option value="fontKarateka">Karateka</option>
                    <option value="fontKoubit">Koubit</option>
                    <option value="fontRunes">Runes</option>
                    <option value="fontTight">Tight</option>
                    <option value="fontTiny">Tiny</option>
                    <option value="fontAdventurer">Adventurer</option>
                    <option value="font3x5">3x5</option>
                    <option value="font3x3">3x3</option>
                    <option value="fontC64">C64</option>
                    <option value="fontZXSpec">ZXSpec</option>
                    <option value="fontTIC806x6">TIC806x6</option>
                    <option value="fontMonkey">Monkey</option>
                </select>
            </label>
            <img id="fontPreview">
        </div>
    </div>
</div>
