<div id="headPane">
  <div id="paletteContainer">
    <div id="activeColor"></div>
    <div id="colorContainer">
      <div class="color" style="background-color:#000000"></div>
      <div class="color" style="background-color:#FFFFFF"></div>
      <div class="color" style="background-color:#ff00ff"></div>
      <div class="color" style="background-color:#00FFFF"></div>
      <div class="color" style="background-color:#FFFF00"></div>
      <div class="color" style="background-color:#00FF00"></div>
      <div class="color" style="background-color:#0000FF"></div>
      <div class="color" style="background-color:#FF0000"></div>
      <div class="color" style="background-color:#3F3F3F"></div>
      <div class="color" style="background-color:#7F7F7F"></div>
      <div class="color" style="background-color:#7F007F"></div>
      <div class="color" style="background-color:#007F7F"></div>
      <div class="color" style="background-color:#7F3F00"></div>
      <div class="color" style="background-color:#007F00"></div>
      <div class="color" style="background-color:#00007F"></div>
      <div class="color" style="background-color:#7F0000"></div>
    </div>
  </div>
  <button id="exitPixelEditor" onclick="togglePixelEditor()">Done</button>
  <button id="piskel" onclick="window.open('https://pokitto.com/piskel', '_blank')">Piskel</button>    
  <div id="fileListContainer">
    <div id="dude"></div><div id="fileListCrop"><select id="fileList"></select></div>
  </div>

     <button id="deleteFile">Delete</button>
     <button id="addFile">Add</button>

     <button id="btnSprites">Sprites</button>
     <button id="btnExamples">Examples</button>

     <button id="fontInc">Text+</button>
     <button id="fontDec">Text-</button>

     <div id="logo">
     Python Editor v.0.1
     </div>

     <button id="download">Save .py</button>
     <button id="compile">Play</button>
</div>
