<div id="headPane">
     <button id="btnExamples">Examples</button>
     <select id="fileList"></select>

     <button id="deleteFile">Delete File</button>
     <button id="addFile">Add File</button>

     <button id="fontInc">Font +</button>
     <button id="fontDec">Font -</button>

     <button id="download">Download Source</button>
     <button id="compile">Compile</button>
</div>