<div id="helpContainer">
    <div class="center">
        <div>I need help with...</div>
        
        <div>
            <a target="_blank" href="https://talk.pokitto.com/t/release-competition-online-python-editor-for-pokitto/1617">This editor</a>
        </div>
        
        <div>
            <a target="_blank" href="https://talk.pokitto.com/t/wiki-pokitto-gaming-api-for-python-reference-upygame-and-umachine/1615">upygame / umachine</a>
        </div>

        <div>
            <a target="_blank" href="https://github.com/felipemanga/PyInSky/issues">I found a bug</a>
        </div>

        <div>
            <a target="_blank" href="https://talk.pokitto.com/t/faq-python-in-pokitto/1620">Something else</a>
        </div>

    </div>
</div>
