<div id="editor">
     # Python code here
</div>
<script src="jszip.min.js" type="text/javascript" charset="utf-8"></script>
<script src="localforage.min.js" type="text/javascript" charset="utf-8"></script>
<script src="ace.js" type="text/javascript" charset="utf-8"></script>
<script src="ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script>
 var editor = ace.edit("editor");
 editor.setTheme("ace/theme/kuroir");
 editor.setOptions({
     enableBasicAutocompletion:true,
     enableSnippets:true
 });
</script>
