<div id="editor">
     # Python code here
</div>
<script src="ace.js"  type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
</script>