<div id="imageContainer">
    <div class="center">
        <div style="border-bottom: solid 1px rgba(0,0,0,0.5);">
            <label>
                Import Palette:
                <input type="file" id="importPalette" accept="image/*,.pal"/>
            </label>
        </div>
        <div style="border-bottom: solid 1px rgba(0,0,0,0.5);">
            <label>
                Import Image:
                <input type="file" id="importImage" accept="image/*"/>
            </label>
        </div>
        
        <div>Create Image: <input id="imageName" placeholder="variable name"></div>
        <div><label>Width: <input id="imageWidth" value="16"></label></div>
        <div><label>Height: <input id="imageHeight" value="16"></label></div>
        <div><button id="imageCreate">Create</button></div>

    </div>
</div>
