<div id="projectContainer">
    <div class="center">
        <label>
            Project:
            <select id="projectList">
            </select>
        </label>
        <label>
            Name:
            <input id="projectName">
        </label>
        <button id="deleteProject">Delete Project</button>
    </div>
</div>
