<div id="projectContainer">
    <div class="center">
        <div>If you need help, click <a href="https://talk.pokitto.com/t/faq-python-in-pokitto/1620">here</a>!</div>
        <div>
            <label>
                Project:
                <select id="projectList">
                </select>
            </label>
            <button id="deleteProject">Delete</button>
        </div>
        <div>
            <label>
                Name:
                <input id="projectName">
            </label>
        </div>
    </div>
</div>
