html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: monospace;
}

.charR {
    --head-pane-bgc: #9b41b9;
    --button-bgc: #e531e5;
}

.charG {
    --head-pane-bgc: #41b977;
    --button-bgc: #9fff2c;
}

.charB {
    --head-pane-bgc: #41b9ac;
    --button-bgc: #00f9b8;
}

.row {
    display: flex;
    height: 100%;
    width: 100%;
}

.row>*, .pane>* {
    flex-grow: 1;
}

.pane {
    position: relative;
    display: flex;
    flex-direction: column;
}

.rightpane {
    max-width: 450px;
}

#editor {
    font-family: 'Ubuntu Mono', monospace !important;
}

#headPane {
    --text-color: #e7eae7;
    display: flex;
    padding: 18px 5px 18px 5px;
    flex-grow: 0;
    height: 128px;
    color: var(--text-color);
    background-color: var(--head-pane-bgc);
    font-family: 'VT323';
    font-size: 1.5em;
    box-sizing: border-box;
}

.rightpane[mode=output] #outputContainer,
.rightpane[mode=project] #projectContainer
{
    display: initial;
}

.rightpane>div {
    display: none;
    position: relative;
}

#projectContainer {
    text-align: center;
    color: var(--text-color);
    background-color: var(--head-pane-bgc);
    font-family: 'VT323';
    font-size: 1.5em;
}

#projectContainer label {
    display: block;
    margin-bottom: 15px;
}

.center {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 5em;
}

#output {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #c4c4c4;
    font-family: monospace;
    font-size: 1.5em;
    color: #222;
    padding: 10px;
    box-sizing: border-box;
}

.source-ref {
    cursor: pointer;
    font-weight: bold;
    background-color: var(--head-pane-bgc);
    color: var(--text-color)
}

#headPane button {
    height: 100%;
    border: 0 none;
    background-color: transparent;
    position: relative;
    font-size: 0.75em;
    margin: auto;
    padding: 67px 0 0 0;
    width: 80px;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

#headPane button::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: " ";
    width: 64px;
    height: 64px;
    border: 5px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--button-bgc);
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
}

#headPane>button:disabled {
    opacity: 0.4;
}

#addFile::after {
    background-image: url(../Sprites/plus.png);
}
.pixelEditor #addFile {
    display: none;
}

#headPane #deleteFile::after {
    background-image: url(../Sprites/delete.png);
}
.pixelEditor #deleteFile {
    display: none;
}

#headPane #deleteFile, #headPane #addFile, #headPane #compile{
    margin-left: 1px;
    margin-right: 1px;
}

#fileListContainer {
    margin-right: 1px;
    margin-left: 1px;
    min-width: max-content;
    position: relative;
    height: 92px;
}
.pixelEditor #fileListContainer {
    display: none;
}

#fileListContainer::after {
    content: "Current file";
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#dude{
    display: inline-block;
    height: 64px;
    width: 64px;
    background-color: var(--text-color);
    border-radius: 10px 0 0 10px;
    background-image: url(../Sprites/pokittos.png);
    background-repeat: no-repeat;
    background-position-y: 3px;
    background-size: 180px;
}

.charR #dude {
    background-position-x: 3px;
}

.charB #dude {
    background-position-x: -58px;
}

.charG #dude {
    background-position-x: -119px;
}

#fileListCrop {
    display: inline-block;
    width: 200px;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
}
#fileListCrop::after {
    pointer-events: none;
    content: '▾';
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 15px;
    color: black;
    background-color: var(--button-bgc);
    height: 64px;
    box-sizing: border-box;
    width: 30px;
    padding-left: 8px;
    border-radius: 0 10px 10px 0;

}

#fileList {
    background-color: var(--text-color);
    height: 64px;
    width: calc(100% - 64px);
    border: 0 none;
    vertical-align: top;
    font: inherit;
    padding-right: 10px;
    position: absolute;
    top: 0;
    margin-left: 64px;
    left: 0;
    border-radius: 0 10px 10px 0;
}
#fileList:active, #fileList:focus {
    outline: 0 none;
}

.charR #fileListCrop {
    background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN8avj0PwAG+gL8qhNzqQAAAABJRU5ErkJggg==)
}
.charG #fileListCrop {
    background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOc/1/nPwAG2gLLa73ygAAAAABJRU5ErkJggg==)
}
.charB #fileListCrop {
    background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+LnjPwAFZAKySRvuvQAAAABJRU5ErkJggg==)
}

#headPane #btnSprites::after {
    background-image: url(../Sprites/star.png);    
}
.pixelEditor #btnSprites {
    display: none;
}

#headPane #btnExamples::after {
    background-color: #f6ffa6;
    background-image: url(../Sprites/examples.png);
}
.pixelEditor #btnExamples {
    display: none;
}

#headPane #logo {
    text-align: center;
    height: 110%;
    background-image: url(../Sprites/logo.png);
    flex-grow: 0;
    width: 200px;
    background-position: center bottom;
    background-repeat: no-repeat;    
}

#examplesContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #4e4e4ed4;
}

#examplesContainer.visible {
    display: initial;
    z-index: 99;
}

#examplesWin {
    position: absolute;
    background-image: url(../Sprites/bg.png);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}

#examplesWin h1 {
    text-align: center;
}


#examplesWin h2 {
    margin: 40px;
}

#exampleSelect {
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    width: 200px;
    font-size: 2em;
    background-color: #debfffb3;
    border-radius: 3px;
}

#exampleCancel {
    position: absolute;
    bottom: 10px;
    right: 150px;
    background-color: #f3e97a9e;
    border: 1px solid;
    border-radius: 2px;
    width: 120px;
    height: 40px;
    font-size: 2em;
}


#exampleApply {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #8fff9869;
    border: 1px solid;
    border-radius: 3px;
    width: 120px;
    height: 40px;
    font-size: 2em;
}

#examplesWin::after {
    content: " ";
    background-color: #ffffff87;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#headPane #compile {
    margin-right: 0;
}
#headPane #compile::after {
    background-color: #2cff2c;
    background-image: url(../Sprites/open.png);
}

#headPane #download{
    margin-right: 1px;
}
#headPane #download::after {
    background-image: url(../Sprites/import.png);
}

#headPane #fontInc{
    margin-right: 1px;
}
#headPane #fontInc::after {
    background-color: #f6ffa6;
    background-image: url(../Sprites/zoomIn.png);
}

#headPane #fontDec{
    margin-left:0;
}
#headPane #fontDec::after {
    background-color: #f6ffa6;
    background-image: url(../Sprites/zoomOut.png);
}

#emulator {
    min-height: 176px;
    min-width:  220px;
    max-height: 360px;
    border-width: 0;
    background-color: black;
}

/*
.charR #emulator[src="empty.html"] {
    filter: hue-rotate(-180deg);
}
.charG #emulator[src="empty.html"] {
    filter: hue-rotate(-37deg);
}
.charB #emulator[src="empty.html"] {
    filter: hue-rotate(54deg);
}

*/

.previewPixel{
    position: relative;
}
.pixelEditor .previewPixel{
    margin-right: -0.51em;
    cursor: crosshair !important;
    pointer-events: all;
    display: inline-block;
    width: 2em;
}

.previewPalEntry{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    pointer-events: all;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.textOverlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.pixelEditor .textOverlay {
    display: none;
}
.pixelEditor .colorContainer *::after {
    visibility: hidden;
}
.textOverlay::after {
    content: attr(text);
}

.colorContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
}

.colorContainer * {
    flex-grow: 1;
}

.colorContainer *::after {
    content: attr(text);
}

.altBGE {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    pointer-events: none;
}
.pixelEditor .altBGE {
    pointer-events: all;
}

#paletteContainer {
    display: none;
    flex-direction: row;
    width: 420px;
}
.pixelEditor #paletteContainer {
    display: flex;
}
#colorContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    width: 350px;
}
#paletteContainer .color {
    width: 35px;
    height: 35px;
    border: 2px solid;
    border-color: var(--text-color);
    border-radius: 5px;
    margin-right: 5px;
    background-color: gray;
    box-sizing: border-box;
}
#paletteContainer .color.active {
    outline: 3px solid var(--text-color);
    outline-style: dashed;
}

#activeColor {
    width: 70px;
    height: 70px;
    border: 3px solid;
    border-color: var(--text-color);
    border-radius: 5px;
    margin-right: 5px;
    position: relative;
}
#activeColor::after {
    content: attr(colorIndex);
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}
#piskel{
    display: none;
}
.pixelEditor #piskel{
    display: block;
}
.pixelEditor #piskel::after {
    background-image: url(../Sprites/piskel.png);
}

#exitPixelEditor{
    display: none;
}
.pixelEditor #exitPixelEditor{
    display: block;
}
.pixelEditor #exitPixelEditor::after {
    background-image: url(../Sprites/checkmark.png);
}

.pixelEditor .ace_layer.ace_marker-layer {
    display: none;
    pointer-events: none;
}

.pixelEditor .ace_text-input {
    display: none;
    pointer-events: none;
}
.pixelEditor .ace_cursor-layer {
    display: none;
}
