html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: monospace;
}

.charR {
    --head-pane-bgc: #9b41b9;
    --button-bgc: #e531e5;
}

.charG {
    --head-pane-bgc: #41b977;
    --button-bgc: #9fff2c;
}

.charB {
    --head-pane-bgc: #41b9ac;
    --button-bgc: #00f9b8;
}

.row {
    display: flex;
    height: 100%;
    width: 100%;
}

.row>*, .pane>* {
    flex-grow: 1;
}

.pane {
    display: flex;
    flex-direction: column;
}

.rightpane {
    max-width: 450px;
}

#editor {
}

#headPane {
    --text-color: #e7eae7;
    display: flex;
    padding: 18px 5px 18px 5px;
    flex-grow: 0;
    height: 128px;
    color: var(--text-color);
    background-color: var(--head-pane-bgc);
    font-family: 'VT323';
    font-size: 1.5em;
    box-sizing: border-box;
}

#outputContainer {
    position: relative;
}

#output {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #c4c4c4;
    font-family: monospace;
    font-size: 1.5em;
    color: #222;
    padding: 10px;
    box-sizing: border-box;
}

#headPane button {
    height: 100%;
    border: 0 none;
    background-color: transparent;
    position: relative;
    font-size: 0.75em;
    margin: auto;
    padding: 67px 0 0 0;
    width: 80px;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

#headPane button::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: " ";
    width: 64px;
    height: 64px;
    border: 5px solid var(--text-color);
    border-radius: 10px;
    background-color: var(--button-bgc);
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
}

#headPane>button:disabled {
    opacity: 0.4;
}

#addFile::after {
    background-image: url(../Sprites/plus.png);
}

#headPane #deleteFile::after {
    background-image: url(../Sprites/delete.png);
}

#headPane #deleteFile, #headPane #addFile, #headPane #compile{
    margin-left: 1px;
    margin-right: 1px;
}

#fileListContainer {
    margin-right: 1px;
    margin-left: 1px;
    min-width: max-content;
    position: relative;
}
#fileListContainer::after {
    content: "Current file";
    position: absolute;
    bottom: -15px;
}

#dude{
    display: inline-block;
    height: 64px;
    width: 64px;
    background-color: var(--text-color);
    border-radius: 10px 0 0 10px;
    background-image: url(../Sprites/pokittos.png);
    background-repeat: no-repeat;
    background-position-y: 3px;
    background-size: 180px;
}

.charR #dude {
    background-position-x: 3px;
}

.charB #dude {
    background-position-x: -58px;
}

.charG #dude {
    background-position-x: -119px;
}

#fileList {
    background-color: var(--text-color);
    background-size: 18px;
    background-repeat-x: no-repeat;
    background-position-x: right;
    height: 64px;
    border: 0 none;
    border-radius: 0 10px 10px 0;
    vertical-align: top;
    font: inherit;
    padding-right: 10px;
}
#fileList:active, #fileList:focus {
    outline: 0 none;
}
.charR #fileList {
    background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN8avj0PwAG+gL8qhNzqQAAAABJRU5ErkJggg==)
}
.charG #fileList {
    background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOc/1/nPwAG2gLLa73ygAAAAABJRU5ErkJggg==)
}
.charB #fileList {
    background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+LnjPwAFZAKySRvuvQAAAABJRU5ErkJggg==)
}

#headPane #btnExamples::after {
    background-color: #f6ffa6;
    background-image: url(../Sprites/examples.png);
}

#headPane #logo {
    text-align: center;
    height: 110%;
    background-image: url(../Sprites/logo.png);
    flex-grow: 0;
    width: 185px;
    background-position: center bottom;
    background-repeat: no-repeat;    
}

#examplesContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #4e4e4ed4;
}

#examplesContainer.visible {
    display: initial;
    z-index: 99;
}

#examplesWin {
    position: absolute;
    background-image: url(../Sprites/bg.png);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}

#examplesWin h1 {
    text-align: center;
}


#examplesWin h2 {
    margin: 40px;
}

#exampleSelect {
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    width: 200px;
    font-size: 2em;
    background-color: #debfffb3;
    border-radius: 3px;
}

#exampleCancel {
    position: absolute;
    bottom: 10px;
    right: 150px;
    background-color: #f3e97a9e;
    border: 1px solid;
    border-radius: 2px;
    width: 120px;
    height: 40px;
    font-size: 2em;
}


#exampleApply {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #8fff9869;
    border: 1px solid;
    border-radius: 3px;
    width: 120px;
    height: 40px;
    font-size: 2em;
}

#examplesWin::after {
    content: " ";
    background-color: #ffffff87;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#headPane #compile {
    margin-right: 0;
}
#headPane #compile::after {
    background-color: #2cff2c;
    background-image: url(../Sprites/open.png);
}

#headPane #download{
    margin-right: 1px;
}
#headPane #download::after {
    background-image: url(../Sprites/import.png);
}

#headPane #fontInc{
    margin-right: 1px;
}
#headPane #fontInc::after {
    background-color: #f6ffa6;
    background-image: url(../Sprites/zoomIn.png);
}

#headPane #fontDec{
    margin-left:0;
}
#headPane #fontDec::after {
    background-color: #f6ffa6;
    background-image: url(../Sprites/zoomOut.png);
}

#emulator {
    min-height: 176px;
    min-width:  220px;
    border-width: 0;
    background-color: black;
}
