html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background: url(../Sprites/bg.png);
}

body {
    display: flex;
}

body>*, #pane>* {
    flex-grow: 1;
}

#pane {
    display: flex;
    flex-direction: column;
}

#editor {
}

#headPane {
    display: flex;
    padding: 1px 5px 1px 5px;
    flex-grow: 0;
    height: 80px;
    color: #ABC;
    background-color: rgba(0,0,0,0.4);
}

#outputContainer {
    position: relative;
}

#output {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(230,230,230,0.9);
    font-family: monospace;
    font-size: 1.5em;
    color: #222;
    padding: 10px;
    box-sizing: border-box;
}

#headPane button, #headPane select {
    height: 100%;
    /* background-color: rgba(255,255,255,0.8); */
    background-color: #bcda9a;
    border: 1px solid black;
    border-radius: 5px;
}

#headPane button {
    font-size: 0.75em;
    background-repeat: no-repeat;
    background-position: top;
    margin: auto;
    padding: 50px 0 0 0;
    width: 60px;
    border-radius: 3px;
    box-sizing: border-box;
}

#headPane>button:disabled {
    opacity: 0.4;
}

#addFile {
    background-image: url(../Sprites/plus.png);
}

#headPane #deleteFile {
    background-image: url(../Sprites/delete.png);
}

#headPane #deleteFile, #headPane #addFile, #headPane #compile{
    margin:0;
}

#fileList {
    margin-right: 5px;
    font-size: 2.0em;
}


#headPane #compile {
    background-image: url(../Sprites/open.png);
    margin-right: 0;
}

#headPane #download {
    background-image: url(../Sprites/import.png);
    margin-right: 0;
}

#headPane #fontInc {
    background-image: url(../Sprites/zoomIn.png);
    margin-right:0;
}

#headPane #fontDec {
    background-image: url(../Sprites/zoomOut.png);
    margin-left:0;
}

#emulator {
    min-height: 176px;
    min-width:  220px;
    border-width: 0;
    background-color: rgba(0,0,0,0.4);
}
