html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    background: url(../Sprites/bg.png);
    font-family: monospace;
}

body {
    display: flex;
}

body>*, #pane>* {
    flex-grow: 1;
}

#pane {
    display: flex;
    flex-direction: column;
}

#editor {
}

#headPane {
    display: flex;
    padding: 1px 5px 1px 5px;
    flex-grow: 0;
    height: 80px;
    color: #ABC;
    background-color: rgba(0,0,0,0.4);
}

#outputContainer {
    position: relative;
}

#output {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(230,230,230,0.9);
    font-family: monospace;
    font-size: 1.5em;
    color: #222;
    padding: 10px;
    box-sizing: border-box;
}

#headPane button, #headPane select {
    height: 100%;
    /* background-color: rgba(255,255,255,0.8); */
    border: 1px solid black;
    border-radius: 5px;
}

#headPane button {
    font-size: 0.75em;
    background-repeat: no-repeat;
    background-position: top;
    margin: auto;
    padding: 50px 0 0 0;
    width: 64px;
    border-radius: 3px;
    box-sizing: border-box;
}

#headPane>button:disabled {
    opacity: 0.4;
}

#addFile {
    background-image: url(../Sprites/plus.png);
    background-color: #9f8eff9e;
}

#headPane #deleteFile {
    background-image: url(../Sprites/delete.png);
    background-color: #ff8e8eab;
}

#headPane #deleteFile, #headPane #addFile, #headPane #compile{
    margin-left: 1px;
    margin-right: 1px;
}

#fileList {
    margin-right: 1px;
    margin-left: 1px;
    font-size: 2.0em;
    background-color: #8effe59e;
}

#headPane #btnExamples {
    background-image: url(../Sprites/examples.png);
    background-color: rgba(150, 233, 241, 0.8);
    margin-right: 1px;
    margin-left: 0;
}

#examplesContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #4e4e4ed4;
}

#examplesContainer.visible {
    display: initial;
    z-index: 99;
}

#examplesWin {
    position: absolute;
    background-image: url(../Sprites/bg.png);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
}

#examplesWin h1 {
    text-align: center;
}


#examplesWin h2 {
    margin: 40px;
}

#exampleSelect {
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    width: 200px;
    font-size: 2em;
    background-color: #debfffb3;
    border-radius: 3px;
}

#exampleCancel {
    position: absolute;
    bottom: 10px;
    right: 150px;
    background-color: #f3e97a9e;
    border: 1px solid;
    border-radius: 2px;
    width: 120px;
    height: 40px;
    font-size: 2em;
}


#exampleApply {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #8fff9869;
    border: 1px solid;
    border-radius: 3px;
    width: 120px;
    height: 40px;
    font-size: 2em;
}

#examplesWin::after {
    content: " ";
    background-color: #ffffff87;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#headPane #compile {
    background-image: url(../Sprites/open.png);
    background-color: rgba(150, 233, 241, 0.8);
    margin-right: 0;
}

#headPane #download {
    background-image: url(../Sprites/import.png);
    margin-right: 1px;
    background-color: #e88eff9e;
}

#headPane #fontInc {
    background-image: url(../Sprites/zoomIn.png);
    margin-right: 1px;
    background-color: #8eeaff9e;
}

#headPane #fontDec {
    background-image: url(../Sprites/zoomOut.png);
    margin-left:0;
    background-color: #b9ff8e9e;
}

#emulator {
    min-height: 176px;
    min-width:  220px;
    border-width: 0;
    background-color: rgba(0,0,0,0.4);
}
