<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/ide.ejs %>
  <div id="pane">
    <% include ../partials/headPane.ejs %>
    <% include ../partials/emulator.ejs %>
    <% include ../partials/messages.ejs %>
  </div>
  <% include ../partials/mpycross.ejs %>
  <script src="ide.js"></script>
</body>
</html>
