<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="pane charR">
  <% include ../partials/headPane.ejs %>
  <div class="row">
    <div class="pane">
      <% include ../partials/ide.ejs %>
    </div>
    <div class="pane rightpane">
      <% include ../partials/emulator.ejs %>
      <% include ../partials/messages.ejs %>
    </div>
  </div>
  <script>var examples = {}</script>
  <% include ../partials/examples.ejs %>
  <% include ../partials/mpycross.ejs %>
  <script src="helloworld.js"></script>
  <script src="pokittos.js"></script>
  <script src="frogitto.js"></script>
  <script src="ide.js"></script>
</body>
</html>
