<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="pane">
  <% include ../partials/headPane.ejs %>
  <div class="row">
    <div class="pane">
      <% include ../partials/ide.ejs %>
    </div>
    <div class="pane rightpane" mode="project">
      <% include ../partials/emulator.ejs %>
      <div id="tabContainer" class="tabs" mode="project">
          <div id="tabsHeader">
              <button id="projectTab" onclick="tabContainer.setAttribute('mode', 'project')">
                  Project
              </button>
              <button id="outputTab" onclick="tabContainer.setAttribute('mode', 'output')">
                  Log
              </button>
              <button id="imageTab" onclick="tabContainer.setAttribute('mode', 'image')">
                  Image
              </button>
          </div>
          <% include ../partials/messages.ejs %>
          <% include ../partials/project.ejs %>
          <% include ../partials/image.ejs %>
      </div>
    </div>
  </div>
  <script>var examples = {}</script>
  <% include ../partials/examples.ejs %>
  <% include ../partials/mpycross.ejs %>
  <script src="compile.js"></script>
  <script src="uuid-random.min.js"></script>
  <script src="rgbquant.js"></script>  
  <script src="ide.js"></script>
  <script src="ext-preview.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
